# Data: raw and derived files stay local (licence terms + size).
data/*
!data/.gitkeep

# Notebook noise
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
.conda/
*.egg-info/

# Secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
nul
